.img-fluid {
  width: 100%;
  padding: 0px;
  /* padding-bottom: 0px; */
  padding-bottom: 10px;
}

#bgImage {
  background-image: url("../images/sugar-rings-of-saturn.png");
  background-position: center center;
  background-size: cover;
  background-repeat: repeat-y;
}

#pageBody {
  position: relative;
  font-family: "Oswald", sans-serif;
  background: rgba(0, 0, 0, 0.8);
  color: #555555;
  margin-top: 80px;
  padding: 20px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.imgTag {
  position: relative;
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 24px;
  padding: 10px;
  padding-top: 10px;
  bottom: 80px;
  left: 20px;
  opacity: 0.5;
}

footer {
  text-align: center;
  width: 110%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 100px;
  background: #f8f9fb;
  color: #999999;
  border-top: 10px solid rgb(216, 216, 216);
}

.col-3 {
  padding-left: 0px;
  top: -1px;
}

.col-9 {
  padding-left: 0px;
  padding-right: 30px;
}
