html {
  width: 100%;
}

#bgImage {
  background-image: url("https://www.barraques.cat/pngfile/big/0-4116_blue-and-black-galaxy-hd-wallpaper-andromeda-galaxy.jpg");
}

#bgPortfolio {
  
}

.img-fluid {
  width: 50%;
  padding: 20px;
  float: left;
  padding-bottom: 0px;
}

p {
  position: relative;
  line-height: 2em;
  font-size: 24px;
  padding: 20px;
  margin-bottom: 0px;
}

a {
  color: #c7c7c7;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #a5a5a5;
  text-decoration: none;
}

h1 {
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 42px;
  padding-right: 40px;
}

h2 {
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 42px;
  padding: 20px;
  padding-bottom: 0px;
}

#pageBody {
  position: relative;
  font-family: 'Oswald', sans-serif;
  background: rgba(0, 0, 0, .8) ;
  color: #555555;
  margin-top: 40px;
  left: 40px;
}

#pageSubBody {
  padding: 20px;
}

.iconTray {
  float: right;
  padding-left: 20px;
  height: 100%;
}

.iconLink {
  padding: 6px;
  width: 40px;
  opacity: 0.6;
}

#indexLinks {
  font-family: 'Oswald', sans-serif;
  font-size: 110px;
  margin: 10px;
  margin-top: 120px;
  float: left;
}

.indexLink {
  padding-bottom: 80px;
  float: left;
}

.indexLink:hover {
  opacity: .9;
}

footer {
    position: sticky;
    text-align: center;
    width: 110%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 40px;
    background: #F8F9FB;
    color: #999999;
    border-top: 10px solid rgb(216, 216, 216);
    float: bottom;
  }

  .iconFooterTray {
    padding-top: 10px;
    align-content: center;
  }